fastapi
uvicorn[standard]
streamlit
requests
python-dotenv
python-multipart
groq
langchain-core
langchain-chroma
langchain-huggingface
langchain-groq
langchain-text-splitters
chromadb
sentence-transformers
pypdf
Pillow
easyocr
opencv-python-headless
numpy
beautifulsoup4
APScheduler
gTTS